$background-white: white;
$background-blue: #000066;
$main-background-gray: lightgray;
$gray: gray;
$font-header: Georgia, 'Times New Roman', Times, serif;
$font-nav: Georgia, 'Times New Roman', Times, serif;
$font-footer: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$heading-text-color: $background-blue;
$box-shadow: 4px 3px;
$button-height: 30px;