html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.App {
  text-align: center;
  margin: .5%;
  max-width: 99%;
  color: white;
  height: 98vh;
}

.App .footer span {
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 600px) {
  .App {
    height: 85vh;
  }
}

.App-header {
  background-color: #009cde;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

nav {
  background-color: white;
  padding: .5%;
}

a:hover, a:active{
  background-color: #009cde;
  color: white;
}


.nav-links {
  color: darkslategrey;
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  text-decoration: none;
}

.main-section {
  float: left;
  background-color: grey;
  height: 83%;
  width: 100%;
}

.sub-section {
  text-align: left;
  margin: 8px;
  background-color: white;
  color: gray;
  height: 97%;
  box-shadow: 2px 3px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;
}

.text-area {
  float: left;
  margin: 15px;
  width: 90%;
}

.contact-form {
  margin-left: 2%;
  width: 100%;
}

.contact-form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.contact-form div {
  margin-right: 10px;
  margin-left: 2px;
  display: inline-block;
  width: 25%;
}

.contact-form input[type="text"] textarea {
  margin-left: 10px;
  width: 25%;
}

.contact-form .submit-button {
  width: 60px;
  background-color: white;
  margin-left: 29%
}

li {
  margin: 5px;
}

a.show-more {
  color: #009cde;
}

.footer {
  float:left;
  background-color: #009cde;
  padding: 1%;
  margin-top: 1%;
  width: 98%;
}

.project-rotator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  grid-row-gap: 2%;
  height: 70%;
}

.project-rotator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

.project-button-wrapper {
  text-align: center;
  margin: 2px;
}

.project-content-wrapper {
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}

#project-content-wrapper-2 {
  display: none;
}

.project-content-wrapper.next {
  transform: translate(100%);
  -webkit-transform: translate(100%); 
}

.project-content-wrapper.previous {
  transform: translate(-100%);
  -webkit-transform: translate(-100%); 
}

.project-content {
  height: 100%;
  border: solid 1px lightgray;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 2px 3px;
}

.project-details {
  margin-top: 5%;
  margin-right: 15%;
  margin-left: 15%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail-header-text {
  color: #009cde;
}

.project-header {
  margin: 10px;
}

.goal-content {
  display: grid;
  grid-template-rows: 1fr 3fr;;
  justify-items: center;
  margin: 2%;
}

.tech-content {
  display: grid;
  grid-template-rows: 1fr 3fr;;
  justify-items: center;
  margin: 2%;
}

@media screen and (min-width: 600px) {
  .nav-links {
    color: darkslategrey;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
  }

  .main-section {
    height: 89%;
  }

  .sub-section {
    height: 97%;
  }

  .contact-form .submit-button {
    margin-left: 29%
  }
}